@page
@model INVENTAR.IO.Pages.ViewModel
@{
    ViewData["Title"] = $"{Model.Product.ProductName} - {Model.Product.ProductModel}";
}

<div class="container">
    <div class="list-header">
        <h3>@ViewData["Title"]</h3>
            <a asp-page="./Asset/Add" asp-route-id="@Model.Product.ProductId" class="btn btn-theme">Add</a>
    </div>
    <p>@Model.Product.ProductDescription</p>
    @if (TempData["Message"] != null)
    {
        <p class="text-danger">@TempData["Message"]</p>
    }
    <br />

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-2" scope="col">@Html.DisplayNameFor( model => model.Assets[ 0 ].AssetId)</th>
                <th class="col-3" scope="col">@Html.DisplayNameFor( model => model.Assets[ 0 ].ColaboratorId)</th>
                <th class="col-3" scope="col">@Html.DisplayNameFor( model => model.Assets[ 0 ].Colaborator.ColaboratorEmail)</th>
                <th class="col-2" scope="col">@Html.DisplayNameFor( model => model.Assets[ 0 ].Colaborator.Department.DepartmentName)</th>
                <th class="col-2" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach( var asset in Model.Assets )
            {
                <tr class="clicable-line">
                    <td><a asp-page="./View" asp-route-id="@asset.ProductId">@Html.DisplayFor( model => asset.AssetId )</a></td>
                    <td><a asp-page="./View" asp-route-id="@asset.ProductId">@Html.DisplayFor( model => asset.Colaborator.ColaboratorName)</a></td>
                    <td><a asp-page="./View" asp-route-id="@asset.ProductId">@Html.DisplayFor( model => asset.Colaborator.ColaboratorEmail)</a></td>
                    <td><a asp-page="./View" asp-route-id="@asset.ProductId">@Html.DisplayFor( model => asset.Colaborator.Department.DepartmentName)</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
